%bgItem {
  background-size: cover !important;
  background-position: center !important;
}

.upcomming_lots_title {
  font-size: 24px;
  font-weight: 400;
  width: 280px;
  border-radius: 7px;
  padding: 5px;
}

.upcomming_lots_list {
  .upcomming_lots_title {
    display: none;
  }
}

.auction_player .product_information {
  .upcomming_lots_list {
    flex: 1;
    max-width: 288px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 10px;
  }
}

.upcomming_lots_title {
  font-size: 24px;
  font-weight: 400;
  width: 280px;
  border-radius: 7px;
  padding: 5px;
}

.upcomming_lots {
  &_title {
    display: none;
  }

  &_item {
    display: flex;
    border-radius: 16px;
    min-width: 280px;

    .upcomming_item_image {
      min-width: 119px;
      height: 119px;
      @extend %bgItem;
      border-radius: 16px 0 0 16px;
      position: relative;
      .upcomming_item_btn {
        position: absolute;
        bottom: 0;
        height: 19px;
        font-size: 12px;
        padding: 0;
        background-color: var(--color1);
        color: white;
      }
    }

    .upcomming_lots_item_info {
      padding: 5px;
      > p:not(.upcomming_lots_item_title) {
        font-size: 14px;
        color: var(--color3);
      }
    }
    .upcomming_lots_item_title {
      font-size: 16px;
      font-weight: bold;
      color: var(--color1);
      width: 123px;
    }
  }
}

// .upcomming_lots
