$color1: #094067;
$color2: #3da9fc;
$color3: #5f6c7b;
$opacityColor3:#5f6c7b21;
$success: #4caf50;
$blur1: 0 0 38px 0 #09406720;
$blur2: 0 0 38px 0 #09406716;
$blur3: 0 0 38px 0 #09406712;
$fontsize2:14px;