.MyButton {
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
  background: white;
  gap: 5px;
  font-size: 12px;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 800px) {
  .MyButton {
    padding: 10px 10px;
  }
}
